:root {
  --roxo: #bfc0f4;
  --roxo-300: #bfc0f49d;
  --verde: #eaf51a;
  --preto: #222222;
  --text-color: #ecebf0;
  --branco:#fff;
  --cinza: #d8d8d8;

  --bg-color: #222222;

  --border-radius-sm: 10px;
  --border-radius-md: 20px;
}

.light-mode{
  /* light-mode */
  --bg-color: #ecebf0;
  --text-color: #000;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.gap-4:{
  gap: 1rem;
}

.justify-between {
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 2px;
  font-variation-settings:
    "YEAR" 1979;
}

p,
small,
span,
a,
li {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

strong, label{
  font-family: "Space Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

body {
  background: var(--bg-color);
  transition: all 0.8s;
}

main {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* navbar */

header {
  background: var(--bg-color);
  padding: 1rem 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--verde);
}

.menu-btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-btn span {
  width: 25px;
  height: 3px;
  background: var(--branco);
  border-radius: 5px;
}

.btn-default {
  background-color: var(--verde);
  padding: 6px 1rem;
  border-radius: var(--border-radius-sm);
  border: none;
  width: fit-content;
  font-weight: bold;
}

.btn-secondary {
  background-color: transparent;
  padding: 6px 1rem;
  border-radius: var(--border-radius-sm);
  border: solid 3px var(--verde);
  width: fit-content;
  font-weight: bold;
  color: var(--verde);
}

.card {
  width: 100%;
  max-width: 100%;
  background: var(--bg-color);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  border: solid 1px var(--branco);
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: var(--text-color);
}

.card-text {
  font-size: 0.95rem;
  color: var(--text-color);
  margin-bottom: 20px;
  line-height: 1.5;
}

.align-center{
  justify-content: center;
  align-items: center;
}

/* footer */
.footer {
  background: var(--bg-color);
  color: white;
  padding: 2rem 1rem 1rem;
}

.footer-container {
  padding: 1rem;
  border-radius: var(--border-radius-sm);
  max-width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  background-color: var(--roxo);
  color: var(--text-color);
}

#img-pixel-art{
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-sm);
}

#icones{
  overflow-x: hidden; 
  gap: 1rem;
}

.icone{
  margin: 8px 0;
  width: 6rem;
  min-width: 6rem;
  max-width: 6rem;
  height: 6rem;
  background-color: var(--roxo);
  border-radius: var(--border-radius-sm);
}

.footer h2,
.footer h3 {
  margin-bottom: 1rem;
}

.footer p {
  color: var(--text-color);
  line-height: 1.6;
}

.footer ul {
  list-style: none;  
}

.footer ul li {
  margin-bottom: 0.7rem;
}

.footer a {
  color: var(--bg-color);
  text-decoration: none;
  transition: 0.3s;
}

.footer a:hover {
  color: var(--verde);
}

.footer-bottom {
  border-top: 1px solid var(--roxo);
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: center;
  color: var(--text-color);
  font-size: 0.9rem;
}


/* Mobile */
@media (max-width: 768px) {
  .menu-btn {
    display: flex;
  }

  .open span:nth-child(1) {
    transform: rotate(45deg) translate(1px, 2px);
  }

  .open span:nth-child(2) {
    opacity: 0;
  }

  .open span:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: var(--bg-color);
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 1.5rem;

    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .footer {
    text-align: center;
    padding: 2rem 1rem 0rem;
  }
}

@media (max-width: 480px) {
  .card-title {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 0.9rem;
  }
}