#hero-section {
    gap: 4px;
    color: var(--text-color)
}

#destaques-div {
    width: 70%;
    height: 30rem;
    padding: 1rem;
    background-color: var(--roxo);
    background-image: url('../assets/jogosImg/repo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    border-radius: var(--border-radius-sm);
}

#destaques-lista-div {
    gap: 1rem;
}

#destaques-lista-div {
    width: 30%;
    padding: 1rem;
}

#destaques-tags-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, 8rem);
    gap: 1rem;
    margin-bottom: 1rem;
}

.tag-div{
    background-color: var(--cinza);
    padding: 6px 8px;
    color: var(--preto);
    border-radius: var(--border-radius-sm);
    font-weight: bold;
}

#info-jogo {
    padding: 1rem;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    justify-content: space-between;
    border-radius: var(--border-radius-sm);
    border: solid 2px var(--roxo);
    align-items: center;
}

.destaques-items-div {
    border: solid 1px var(--roxo);
    height: 8rem;
    padding: 10px;
    border-radius: var(--border-radius-sm);
    gap: 1rem;
}

.destaques-items-div img {
    width: 30%;
    height: 100%;
    border-radius: var(--border-radius-sm);
}

section{
    align-items: start;
    color: var(--text-color);
    gap: 1rem;
}

.section-grid{
    width: 100%;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    justify-content: center;
}

.card-terror {
    background-image: linear-gradient(#374BF3, #4f6dec);
}

.card-combate {
    background-image: linear-gradient(#fb626f, #f03b46);
}

.card-aventura {
    background-image: linear-gradient(#2CCBF2, #4D82CE);
}

.card-multiplayer {
    background-image: linear-gradient(#24CECB, #2de1b3);
}

.card-indie {
    background-image: linear-gradient(#7449F2, #9d5ff3);
}

@media (max-width: 768px) {
    #hero-section {
        flex-direction: column;
    }
    #destaques-div {
        width: 100%;
    }
    .texto {
        word-break: break-all;  
    }
    #destaques-lista-div {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .destaques-items-div {
        flex-direction: column;
        height: auto; 
        word-break: break-all;  
    }

    #info-jogo {
        flex-direction: column;
    }
}